<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
		{% include "links.html" %}


</head>

<body>
{% include "header.html" %}
{% if request != 'GET' %}
 <p class="h3">Resume tips</p> 
{% include "table.html" %}
{% endif %}
{% if request == 'GET' %}
{% include "search-form.html" %}
{% endif %}
{% include "footer.html" %}
</body>
</html>
